
body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    margin: 0;
    width: 100%;
}

.note{
    font-size: 15px;
    color: black;
}



.div_speed{
    float: left;
}

.div_speed-img{
    width: 200px;
    border-radius: 100px;
}
#speed{
    font-size: 23px;
    margin: 15px;
}




.div_volume{
    float: right;
}

.div_volume-img{
    width: 200px;
    border-radius: 100px;
}
#volume{
    font-size: 23px;
    margin: 15px;
}